@import url(https://fonts.googleapis.com/css?family=Outfit:300,regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Outfit";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Outfit";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.5625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  background-color: #ffc32d;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.2272727273;
}

@supports (padding-top: clamp( 0.9375rem , 0.2316176471rem  +  3.5294117647vw , 3rem )) {
  .header {
    padding-top: clamp( 0.9375rem , 0.2316176471rem  +  3.5294117647vw , 3rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.2316176471rem  +  3.5294117647vw , 3rem )) {
  .header {
    padding-top: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 58.4375);
  }
}

.header__container {
  max-width: 78.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 2.375rem;
  width: 6.75rem;
}

@supports (margin-right: clamp( 0.625rem , -0.0808823529rem  +  3.5294117647vw , 2.6875rem )) {
  .header__logo {
    margin-right: clamp( 0.625rem , -0.0808823529rem  +  3.5294117647vw , 2.6875rem );
  }
}

@supports not (margin-right: clamp( 0.625rem , -0.0808823529rem  +  3.5294117647vw , 2.6875rem )) {
  .header__logo {
    margin-right: calc(0.625rem + 2.0625 * (100vw - 20rem) / 58.4375);
  }
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-right: clamp( 0.0000000625rem , -3.561046093rem  +  4.6511623256vw , 0.625rem )) {
  .header__action {
    padding-right: clamp( 0.0000000625rem , -3.561046093rem  +  4.6511623256vw , 0.625rem );
  }
}

@supports not (padding-right: clamp( 0.0000000625rem , -3.561046093rem  +  4.6511623256vw , 0.625rem )) {
  .header__action {
    padding-right: calc(0.0000000625rem + 0.6249999375 * (100vw - 76.5625rem) / 13.4375);
  }
}

.header__user,
.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  white-space: nowrap;
}

.header__user span,
.header__cart span {
  margin-left: 0.25rem;
}

@supports (margin-right: clamp( 0.9375rem , 0.552473262rem  +  1.9251336898vw , 2.0625rem )) {
  .header__user {
    margin-right: clamp( 0.9375rem , 0.552473262rem  +  1.9251336898vw , 2.0625rem );
  }
}

@supports not (margin-right: clamp( 0.9375rem , 0.552473262rem  +  1.9251336898vw , 2.0625rem )) {
  .header__user {
    margin-right: calc(0.9375rem + 1.125 * (100vw - 20rem) / 58.4375);
  }
}

@supports (padding-left: clamp( 0.9375rem , 0.809157754rem  +  0.6417112299vw , 1.3125rem )) {
  .menu__link {
    padding-left: clamp( 0.9375rem , 0.809157754rem  +  0.6417112299vw , 1.3125rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , 0.809157754rem  +  0.6417112299vw , 1.3125rem )) {
  .menu__link {
    padding-left: calc(0.9375rem + 0.375 * (100vw - 20rem) / 58.4375);
  }
}

@supports (padding-right: clamp( 0.9375rem , 0.809157754rem  +  0.6417112299vw , 1.3125rem )) {
  .menu__link {
    padding-right: clamp( 0.9375rem , 0.809157754rem  +  0.6417112299vw , 1.3125rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , 0.809157754rem  +  0.6417112299vw , 1.3125rem )) {
  .menu__link {
    padding-right: calc(0.9375rem + 0.375 * (100vw - 20rem) / 58.4375);
  }
}

.menu__link_new {
  position: relative;
}

.menu__link_new::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -0.5rem;
  width: 1.8125rem;
  height: 1.8125rem;
  background: url("../img/icons/new.svg") 0 0/contain no-repeat;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.icon-menu {
  display: none;
}

.footer {
  padding-top: 0.625rem;
}

@supports (padding-bottom: clamp( 2.5rem , 0.9812834225rem  +  7.5935828877vw , 6.9375rem )) {
  .footer {
    padding-bottom: clamp( 2.5rem , 0.9812834225rem  +  7.5935828877vw , 6.9375rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.9812834225rem  +  7.5935828877vw , 6.9375rem )) {
  .footer {
    padding-bottom: calc(2.5rem + 4.4375 * (100vw - 20rem) / 58.4375);
  }
}

.footer__logo {
  display: inline-block;
  font-size: 2.375rem;
  font-weight: 700;
  margin-bottom: 0.9375rem;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 300;
  line-height: 1.5;
  margin-right: 0.9375rem;
}

@supports (font-size: clamp( 1.125rem , 1.0822192513rem  +  0.2139037433vw , 1.25rem )) {
  .footer__text {
    font-size: clamp( 1.125rem , 1.0822192513rem  +  0.2139037433vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0822192513rem  +  0.2139037433vw , 1.25rem )) {
  .footer__text {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 58.4375);
  }
}

.footer__text p {
  max-width: 29.375rem;
}

@supports (font-size: clamp( 1.125rem , 1.0822192513rem  +  0.2139037433vw , 1.25rem )) {
  .footer__list {
    font-size: clamp( 1.125rem , 1.0822192513rem  +  0.2139037433vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0822192513rem  +  0.2139037433vw , 1.25rem )) {
  .footer__list {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 58.4375);
  }
}

.footer__list:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.footer__list_bold {
  font-weight: 700;
}

@supports (margin-right: clamp( 0.9375rem , -0.8806818182rem  +  9.0909090909vw , 6.25rem )) {
  .footer__list_bold {
    margin-right: clamp( 0.9375rem , -0.8806818182rem  +  9.0909090909vw , 6.25rem );
  }
}

@supports not (margin-right: clamp( 0.9375rem , -0.8806818182rem  +  9.0909090909vw , 6.25rem )) {
  .footer__list_bold {
    margin-right: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 58.4375);
  }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4110962567rem  +  1.0695187166vw , 1.25rem )) {
  .footer__item:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.4110962567rem  +  1.0695187166vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4110962567rem  +  1.0695187166vw , 1.25rem )) {
  .footer__item:not(:last-child) {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 58.4375);
  }
}

.footer__link {
  white-space: nowrap;
}

.page {
  letter-spacing: -0.02em;
}

.page__main-block {
  position: relative;
}

.page__main-block::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 143%;
  background: url("../img/bg1.svg") bottom/cover no-repeat;
}

@supports (padding-top: clamp( 0.0000000625rem , -1.4545453707rem  +  7.2727271658vw , 4.25rem )) {
  .page__services {
    padding-top: clamp( 0.0000000625rem , -1.4545453707rem  +  7.2727271658vw , 4.25rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , -1.4545453707rem  +  7.2727271658vw , 4.25rem )) {
  .page__services {
    padding-top: calc(0.0000000625rem + 4.2499999375 * (100vw - 20rem) / 58.4375);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 0.3135026738rem  +  7.807486631vw , 6.4375rem )) {
  .page__services {
    margin-bottom: clamp( 1.875rem , 0.3135026738rem  +  7.807486631vw , 6.4375rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.3135026738rem  +  7.807486631vw , 6.4375rem )) {
  .page__services {
    margin-bottom: calc(1.875rem + 4.5625 * (100vw - 20rem) / 58.4375);
  }
}

.page__budget {
  position: relative;
}

@supports (padding-top: clamp( 0.0000000625rem , -1.9893047289rem  +  9.9465239572vw , 5.8125rem )) {
  .page__budget {
    padding-top: clamp( 0.0000000625rem , -1.9893047289rem  +  9.9465239572vw , 5.8125rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , -1.9893047289rem  +  9.9465239572vw , 5.8125rem )) {
  .page__budget {
    padding-top: calc(0.0000000625rem + 5.8124999375 * (100vw - 20rem) / 58.4375);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -4.9699197861rem  +  34.2245989305vw , 21.875rem )) {
  .page__budget {
    padding-bottom: clamp( 1.875rem , -4.9699197861rem  +  34.2245989305vw , 21.875rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -4.9699197861rem  +  34.2245989305vw , 21.875rem )) {
  .page__budget {
    padding-bottom: calc(1.875rem + 20 * (100vw - 20rem) / 58.4375);
  }
}

.page__budget::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 132.5%;
  background: url("../img/bg2.svg") top right/cover no-repeat;
}

.main-block__container {
  position: relative;
  z-index: 2;
}

@supports (padding-top: clamp( 1.25rem , -0.9959893048rem  +  11.2299465241vw , 7.8125rem )) {
  .main-block__content {
    padding-top: clamp( 1.25rem , -0.9959893048rem  +  11.2299465241vw , 7.8125rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -0.9959893048rem  +  11.2299465241vw , 7.8125rem )) {
  .main-block__content {
    padding-top: calc(1.25rem + 6.5625 * (100vw - 20rem) / 58.4375);
  }
}

.main-block__title {
  letter-spacing: -0.02em;
  white-space: nowrap;
  line-height: 1.0309278351;
}

@supports (font-size: clamp( 2.1875rem , 0.8612967914rem  +  6.6310160428vw , 6.0625rem )) {
  .main-block__title {
    font-size: clamp( 2.1875rem , 0.8612967914rem  +  6.6310160428vw , 6.0625rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 0.8612967914rem  +  6.6310160428vw , 6.0625rem )) {
  .main-block__title {
    font-size: calc(2.1875rem + 3.875 * (100vw - 20rem) / 58.4375);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.6594251337rem  +  1.3903743316vw , 1.75rem )) {
  .main-block__title {
    margin-bottom: clamp( 0.9375rem , 0.6594251337rem  +  1.3903743316vw , 1.75rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.6594251337rem  +  1.3903743316vw , 1.75rem )) {
  .main-block__title {
    margin-bottom: calc(0.9375rem + 0.8125 * (100vw - 20rem) / 58.4375);
  }
}

.main-block__title span {
  font-weight: 500;
}

.main-block__subtitle {
  display: inline;
  font-weight: 700;
  line-height: 1.34375;
  position: relative;
}

@supports (font-size: clamp( 1.25rem , 0.993315508rem  +  1.2834224599vw , 2rem )) {
  .main-block__subtitle {
    font-size: clamp( 1.25rem , 0.993315508rem  +  1.2834224599vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.993315508rem  +  1.2834224599vw , 2rem )) {
  .main-block__subtitle {
    font-size: calc(1.25rem + 0.75 * (100vw - 20rem) / 58.4375);
  }
}

.main-block__subtitle span {
  position: relative;
  z-index: 2;
}

.no-webp .main-block__subtitle::after{
  background: url("../img/main/decor.png") right bottom/contain no-repeat; }

.main-block__subtitle::after {
  content: "";
  position: absolute;
  right: -0.625rem;
  bottom: -0.75rem;
  height: 1.875rem;
}

@supports (width: clamp( 9.375rem , 7.3429144385rem  +  10.1604278075vw , 15.3125rem )) {
  .main-block__subtitle::after {
    width: clamp( 9.375rem , 7.3429144385rem  +  10.1604278075vw , 15.3125rem );
  }
}

@supports not (width: clamp( 9.375rem , 7.3429144385rem  +  10.1604278075vw , 15.3125rem )) {
  .main-block__subtitle::after {
    width: calc(9.375rem + 5.9375 * (100vw - 20rem) / 58.4375);
  }
}

.main-block__text {
  padding-left: 0.3125rem;
  font-weight: 300;
  line-height: 1.5;
  max-width: 28.125rem;
}

@supports (font-size: clamp( 1rem , 0.9144385027rem  +  0.4278074866vw , 1.25rem )) {
  .main-block__text {
    font-size: clamp( 1rem , 0.9144385027rem  +  0.4278074866vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9144385027rem  +  0.4278074866vw , 1.25rem )) {
  .main-block__text {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 58.4375);
  }
}

@supports (margin-top: clamp( 1.25rem , 0.800802139rem  +  2.2459893048vw , 2.5625rem )) {
  .main-block__text {
    margin-top: clamp( 1.25rem , 0.800802139rem  +  2.2459893048vw , 2.5625rem );
  }
}

@supports not (margin-top: clamp( 1.25rem , 0.800802139rem  +  2.2459893048vw , 2.5625rem )) {
  .main-block__text {
    margin-top: calc(1.25rem + 1.3125 * (100vw - 20rem) / 58.4375);
  }
}

.main-block__text span {
  position: relative;
}

.main-block__text span::after {
  content: "";
  position: absolute;
  right: -0.625rem;
  top: -0.3125rem;
  width: 0.9375rem;
  height: 1rem;
  background: url("../img/main/decor2.svg") 0 0/contain no-repeat;
}

.main-block__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65.6%;
          flex: 0 0 65.6%;
}

.main-block__img img {
  width: 100%;
}

.services__container {
  position: relative;
  z-index: 2;
}

.item-services {
  background: #ffeaaf;
  border-radius: 0.625rem;
}

@supports (padding-top: clamp( 0.9375rem , 0.2743983957rem  +  3.3155080214vw , 2.875rem )) {
  .item-services {
    padding-top: clamp( 0.9375rem , 0.2743983957rem  +  3.3155080214vw , 2.875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.2743983957rem  +  3.3155080214vw , 2.875rem )) {
  .item-services {
    padding-top: calc(0.9375rem + 1.9375 * (100vw - 20rem) / 58.4375);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.4455213904rem  +  2.4598930481vw , 2.375rem )) {
  .item-services {
    padding-bottom: clamp( 0.9375rem , 0.4455213904rem  +  2.4598930481vw , 2.375rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.4455213904rem  +  2.4598930481vw , 2.375rem )) {
  .item-services {
    padding-bottom: calc(0.9375rem + 1.4375 * (100vw - 20rem) / 58.4375);
  }
}

@supports (padding-left: clamp( 0.9375rem , 0.5310828877rem  +  2.0320855615vw , 2.125rem )) {
  .item-services {
    padding-left: clamp( 0.9375rem , 0.5310828877rem  +  2.0320855615vw , 2.125rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , 0.5310828877rem  +  2.0320855615vw , 2.125rem )) {
  .item-services {
    padding-left: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 58.4375);
  }
}

@supports (padding-right: clamp( 0.9375rem , -0.3887032086rem  +  6.6310160428vw , 4.8125rem )) {
  .item-services {
    padding-right: clamp( 0.9375rem , -0.3887032086rem  +  6.6310160428vw , 4.8125rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -0.3887032086rem  +  6.6310160428vw , 4.8125rem )) {
  .item-services {
    padding-right: calc(0.9375rem + 3.875 * (100vw - 20rem) / 58.4375);
  }
}

.item-services_new .item-services__img {
  position: relative;
}

.item-services_new .item-services__img::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2.4375rem;
  height: 2.4375rem;
  background: url("../img/icons/new-black.svg") 0 0/contain no-repeat;
  -webkit-transform: translate(120%, 60%);
      -ms-transform: translate(120%, 60%);
          transform: translate(120%, 60%);
}

.item-services__img {
  max-width: 4.0625rem;
  width: 100%;
}

@supports (margin-bottom: clamp( 1.5625rem , 0.8566176471rem  +  3.5294117647vw , 3.625rem )) {
  .item-services__img {
    margin-bottom: clamp( 1.5625rem , 0.8566176471rem  +  3.5294117647vw , 3.625rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.8566176471rem  +  3.5294117647vw , 3.625rem )) {
  .item-services__img {
    margin-bottom: calc(1.5625rem + 2.0625 * (100vw - 20rem) / 58.4375);
  }
}

.item-services__img img {
  width: 100%;
}

.item-services__title {
  font-weight: 500;
  line-height: 1.2272727273;
  max-width: 10.0625rem;
  margin-bottom: 0.625rem;
}

@supports (font-size: clamp( 1.125rem , 1.0394385027rem  +  0.4278074866vw , 1.375rem )) {
  .item-services__title {
    font-size: clamp( 1.125rem , 1.0394385027rem  +  0.4278074866vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0394385027rem  +  0.4278074866vw , 1.375rem )) {
  .item-services__title {
    font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 58.4375);
  }
}

.item-services__prise {
  font-weight: 300;
  line-height: 1.35;
}

@supports (font-size: clamp( 1rem , 0.9144385027rem  +  0.4278074866vw , 1.25rem )) {
  .item-services__prise {
    font-size: clamp( 1rem , 0.9144385027rem  +  0.4278074866vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9144385027rem  +  0.4278074866vw , 1.25rem )) {
  .item-services__prise {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 58.4375);
  }
}

.receive__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.receive__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56.9%;
          flex: 0 0 56.9%;
}

.receive__img img {
  width: 100%;
}

@supports (padding-top: clamp( 0.0000000625rem , -2.0962566006rem  +  10.4812833155vw , 6.125rem )) {
  .receive__content {
    padding-top: clamp( 0.0000000625rem , -2.0962566006rem  +  10.4812833155vw , 6.125rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , -2.0962566006rem  +  10.4812833155vw , 6.125rem )) {
  .receive__content {
    padding-top: calc(0.0000000625rem + 6.1249999375 * (100vw - 20rem) / 58.4375);
  }
}

.receive__content-img {
  width: 6.25rem;
  margin-bottom: 0.3125rem;
  margin-left: 0.625rem;
}

.receive__content-img img {
  width: 100%;
  margin-left: 0.625rem;
}

.receive__title {
  letter-spacing: -0.02em;
  line-height: 1.15625;
}

@supports (font-size: clamp( 2.1875rem , 1.5671791444rem  +  3.1016042781vw , 4rem )) {
  .receive__title {
    font-size: clamp( 2.1875rem , 1.5671791444rem  +  3.1016042781vw , 4rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.5671791444rem  +  3.1016042781vw , 4rem )) {
  .receive__title {
    font-size: calc(2.1875rem + 1.8125 * (100vw - 20rem) / 58.4375);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9505347594rem  +  1.4973262032vw , 2.125rem )) {
  .receive__title {
    margin-bottom: clamp( 1.25rem , 0.9505347594rem  +  1.4973262032vw , 2.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9505347594rem  +  1.4973262032vw , 2.125rem )) {
  .receive__title {
    margin-bottom: calc(1.25rem + 0.875 * (100vw - 20rem) / 58.4375);
  }
}

.receive__text {
  font-weight: 300;
  line-height: 1.5;
  max-width: 29.375rem;
}

@supports (font-size: clamp( 1.125rem , 1.0822192513rem  +  0.2139037433vw , 1.25rem )) {
  .receive__text {
    font-size: clamp( 1.125rem , 1.0822192513rem  +  0.2139037433vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0822192513rem  +  0.2139037433vw , 1.25rem )) {
  .receive__text {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 58.4375);
  }
}

.budget__container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.budget__img {
  max-width: 58.25rem;
  width: 100%;
  margin: 0 auto;
}

.budget__img img {
  width: 100%;
}

.budget__free {
  max-width: 6.25rem;
  width: 100%;
  margin: 0 auto;
}

.budget__free img {
  width: 100%;
}

.budget__title {
  letter-spacing: -0.02em;
  line-height: 1.15625;
  max-width: 50rem;
  margin: 0 auto;
}

@supports (font-size: clamp( 2.1875rem , 1.5671791444rem  +  3.1016042781vw , 4rem )) {
  .budget__title {
    font-size: clamp( 2.1875rem , 1.5671791444rem  +  3.1016042781vw , 4rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.5671791444rem  +  3.1016042781vw , 4rem )) {
  .budget__title {
    font-size: calc(2.1875rem + 1.8125 * (100vw - 20rem) / 58.4375);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.3125rem )) {
  .budget__title {
    margin-bottom: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.3125rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8863636364rem  +  1.8181818182vw , 2.3125rem )) {
  .budget__title {
    margin-bottom: calc(1.25rem + 1.0625 * (100vw - 20rem) / 58.4375);
  }
}

@supports (margin-top: clamp( 0.0000000625rem , -0.1069517878rem  +  0.5347592513vw , 0.3125rem )) {
  .budget__title {
    margin-top: clamp( 0.0000000625rem , -0.1069517878rem  +  0.5347592513vw , 0.3125rem );
  }
}

@supports not (margin-top: clamp( 0.0000000625rem , -0.1069517878rem  +  0.5347592513vw , 0.3125rem )) {
  .budget__title {
    margin-top: calc(0.0000000625rem + 0.3124999375 * (100vw - 20rem) / 58.4375);
  }
}

.budget__subtitle {
  letter-spacing: -0.02em;
  font-weight: 300;
  display: inline-block;
  position: relative;
}

@supports (font-size: clamp( 1.875rem , 1.4471925134rem  +  2.1390374332vw , 3.125rem )) {
  .budget__subtitle {
    font-size: clamp( 1.875rem , 1.4471925134rem  +  2.1390374332vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.4471925134rem  +  2.1390374332vw , 3.125rem )) {
  .budget__subtitle {
    font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 58.4375);
  }
}

.budget__subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  width: 110%;
  height: 100%;
  background: url("../img/budget/decor.svg") 0 0/contain no-repeat;
}

.budget__subtitle span {
  position: relative;
  z-index: 2;
}

@media (min-width: 37.5em) {
  .services__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .services__column {
    max-width: 15.25rem;
    width: 100%;
  }

@supports (margin-right: clamp( 0.9375rem , 0.5738636364rem  +  1.8181818182vw , 2rem )) {
    .services__column:not(:last-child) {
      margin-right: clamp( 0.9375rem , 0.5738636364rem  +  1.8181818182vw , 2rem );
    }
}

@supports not (margin-right: clamp( 0.9375rem , 0.5738636364rem  +  1.8181818182vw , 2rem )) {
    .services__column:not(:last-child) {
      margin-right: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 58.4375);
    }
}

  .services__column:nth-child(1) {
    margin-top: -18.5rem;
  }

  .services__column:nth-child(2) {
    margin-top: -14.625rem;
  }

@supports (margin-top: clamp( -14.625rem , 5.0053476775rem  +  -25.0267380749vw , 0.0000000625rem )) {
    .services__column:nth-child(2) {
      margin-top: clamp( -14.625rem , 5.0053476775rem  +  -25.0267380749vw , 0.0000000625rem );
    }
}

@supports not (margin-top: clamp( -14.625rem , 5.0053476775rem  +  -25.0267380749vw , 0.0000000625rem )) {
    .services__column:nth-child(2) {
      margin-top: calc(0.0000000625rem + -14.6250000625 * (100vw - 20rem) / 58.4375);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.359959893rem  +  2.8877005348vw , 2.625rem )) {
    .services__item:nth-child(1):not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.359959893rem  +  2.8877005348vw , 2.625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.359959893rem  +  2.8877005348vw , 2.625rem )) {
    .services__item:nth-child(1):not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.6875 * (100vw - 20rem) / 58.4375);
    }
}
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main-block__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

@supports (margin-left: clamp( 0.0000000625rem , -0.4705881514rem  +  2.3529410695vw , 1.375rem )) {
    .receive__content {
      margin-left: clamp( 0.0000000625rem , -0.4705881514rem  +  2.3529410695vw , 1.375rem );
    }
}

@supports not (margin-left: clamp( 0.0000000625rem , -0.4705881514rem  +  2.3529410695vw , 1.375rem )) {
    .receive__content {
      margin-left: calc(0.0000000625rem + 1.3749999375 * (100vw - 20rem) / 58.4375);
    }
}
}

@media (min-width: 78.4375em) {
  .main-block__img {
    -webkit-transform: translate(38px, 0px);
        -ms-transform: translate(38px, 0px);
            transform: translate(38px, 0px);
  }

@supports (margin-left: clamp( -6.75rem , 38.4593027442rem  +  -50.2325586047vw , 0.0000000625rem )) {
    .receive__img {
      margin-left: clamp( -6.75rem , 38.4593027442rem  +  -50.2325586047vw , 0.0000000625rem );
    }
}

@supports not (margin-left: clamp( -6.75rem , 38.4593027442rem  +  -50.2325586047vw , 0.0000000625rem )) {
    .receive__img {
      margin-left: calc(0.0000000625rem + -6.7500000625 * (100vw - 76.5625rem) / 13.4375);
    }
}

  .budget__img img {
    margin-left: -5rem;
  }
}

@media (max-width: 83.6875em) {
  .main-block__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
  }

  .receive__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
  }
}

@media (max-width: 78.4375em) {
  .main-block__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .receive__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 76.5625em) {
  .header__action {
    padding-right: inherit;
  }
}

@media (max-width: 61.99875em) {
  .header__user span,
  .header__cart span {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .header {
    padding-top: 0.3125rem;
  }

  .header__user {
    margin-right: 0.9375rem;
  }

  .menu__body {
    position: fixed;
    z-index: 4;
    left: 120%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffc32d;
    text-align: center;
    padding: 3.125rem 1.25rem;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
    visibility: visible;
    opacity: 1;
  }

  .menu__link_new::before {
    top: 0.625rem;
    height: 1.25rem;
    width: 1.25rem;
  }

  .menu__link {
    display: block;
    padding: 0.625rem 0;
    font-size: 1.5625rem;
  }

  .icon-menu {
    margin-left: 0.9375rem;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 0.9375rem;
  }

  .page__budget::before {
    height: 110%;
  }

  .receive__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .receive__img {
    margin-right: -8%;
  }

  .budget__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .budget__content {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .services__column:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .services__item:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .item-services__title {
    max-width: none;
  }
}

@media (min-width: 37.5em) and (max-width: 83.6875em) {
@supports (margin-top: clamp( -7.8125rem , 10.5078810572rem  +  -21.8914187391vw , 0.0000000625rem )) {
    .services__column:nth-child(1) {
      margin-top: clamp( -7.8125rem , 10.5078810572rem  +  -21.8914187391vw , 0.0000000625rem );
    }
}

@supports not (margin-top: clamp( -7.8125rem , 10.5078810572rem  +  -21.8914187391vw , 0.0000000625rem )) {
    .services__column:nth-child(1) {
      margin-top: calc(0.0000000625rem + -7.8125000625 * (100vw - 48rem) / 35.6875);
    }
}

@supports (margin-top: clamp( -3.75rem , 5.0437829837rem  +  -10.5078810858vw , 0.0000000625rem )) {
    .services__column:nth-child(2) {
      margin-top: clamp( -3.75rem , 5.0437829837rem  +  -10.5078810858vw , 0.0000000625rem );
    }
}

@supports not (margin-top: clamp( -3.75rem , 5.0437829837rem  +  -10.5078810858vw , 0.0000000625rem )) {
    .services__column:nth-child(2) {
      margin-top: calc(0.0000000625rem + -3.7500000625 * (100vw - 48rem) / 35.6875);
    }
}
}

@media (min-width: 37.5em) and (max-width: 83.6875em) and (min-width: 83.6875em) {
  .services__column:nth-child(1) {
    margin-top: inherit;
  }

  .services__column:nth-child(2) {
    margin-top: inherit;
  }
}

@media (min-width: 37.5em) and (max-width: 83.6875em) and (max-width: 48em) {
  .services__column:nth-child(1) {
    margin-top: inherit;
  }

  .services__column:nth-child(2) {
    margin-top: inherit;
  }
}

@media (min-width: 78.4375em) and (max-width: 76.5625em) {
  .receive__img {
    margin-left: inherit;
  }
}

@media (any-hover: hover) {
  .header__user:hover,
  .header__cart:hover {
    text-decoration: underline;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .footer__link:hover {
    text-decoration: underline;
  }
}

.webp .main-block__subtitle::after{ background: url(../img/main/decor.webp) right bottom/contain no-repeat; }